*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
    }
body{
    background-color: #080808;
    color: #fff;
}
#header{
width: 100%;
height: 100vh;
background-image: url("images/bg_imd.jpg");
background-size:cover;
background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff04ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease-out;

}
nav ul li a:hover::after{
    width: 100%;
}
.header_text{
    margin-top: 60px;
    width: 50%;
    font-size: 30px;
}
.header_text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header_text h1 span{
    color: #ff04ff;
}

#aboutme{
padding: 80px 0px;
color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
flex-basis: 35%;
}
.about_col_1 img  {
    width: 100%;
    border-radius: 15px;
}
.about_col_2{
    flex-basis: 60%;
}
.sub_title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.tab_titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab_links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab_links::after{
    content: '';
    width: 10;
    height: 3px;
    bottom: -8px;
    background: #ff04ff;
    position: absolute;
    left: 0;
    transition: 0.5s;
}
.tab_links.active-link::after{
    width: 50%;
}
.tab_contents ul li {
    list-style: none;
    margin: 10px 0px;
}
.tab_contents ul span{
    color: #ff04ff;
}
.tab_contents{
    display: none;
}
.tab_contents.active-tab{
    display: block;
}

/* -----services--- */

#services{
    padding: 30px 0px;
}
.service_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service_list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.service_list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service_list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service_list div:hover{
    background:#ff04ff;
    transform: translateY(-10px);
}
/* ----Contact Me */

.contact_left{
    flex-basis: 35%;
}
.contact_right{
    flex-basis: 60%;
}
.contact_right form{
    width: 100%;
}
form input, form textarea{
   width: 100%;
   border: 0;
   outline: none;
   background-color: #262626;
   color: #fff;
   padding: 15px;
   margin: 15px 0;
   font-size: 18px;
   border-radius: 6px;

}


.contact_left i {
    margin: 10px 10px;
    color: #fff;
    font-size: 30px;
    transition: color 0.5s, transform 0.5s;

}
.contact_left i:hover{
    color: #ff04ff;
    transform: translateY(-8px);
}
/* .btn.btn2{
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    color: #121212;
    background-color: #fff;
    padding: 10px;
    transition: background-color 0.5s, color 0.4s , transform 0.5s;
}
.btn.btn2:hover{
    background-color: #ff04ff;
    color: #fff;
    transform: translateY(-3px);
} */
.copyright{
    width: 100%;
    text-align: center;
    background: #262626;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 30px;

}

.work_lists{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff04ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color: #ff04ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff04ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background-color:#111010 ;
    color: #fff;
    transition: background 0.5s, transform 0.5s;
}
.btn:hover{
    background: #ff04ff;
    transform: translateY(-5px);
}
nav .fas{
    display: none;
}

/* ----css for small screens */
@media only screen and (max-width:600px){
    /* #header{
        background-image: url(images/work_!.jpeg);
    } */
    .header_text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header_text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px ;
    }
    nav ul{
        background:#ff04ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 20px;
        left: 25px;
        cursor: pointer;
    }
}



